<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Hawook Jeong">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
</head>
<body>

<header id="header">

    <hr>
</header>
<main>
<form>
    <div>
        <label class="signLabel"  for="username">이름</label>
        <input class="signInput" name="username" id="username">
    </div>
    <div>
        <label class="signLabel"  for="password">비밀번호</label>
        <input class="signInput" name="password" id="password">
    </div>
    <div>
        <label class="signLabel"  for="nickname">닉네임</label>
        <input class="signInput" name="nickname" id="nickname">
    </div>
    <div>
        <label class="signLabel" for="email">이메일</label>
        <input class="signInput" name="email" id="email">
    </div>
    <div>
        <label class="signLabel" for="child">아이정보</label>
        <input class="signInput" name="child" id="child">
    </div>
    <div>
        <label class="signLabel" for="memo">주의사항</label>
        <input class="signInput" name="memo" id="memo">
    </div>
    <button type="button" onclick="userSignIns()">가입</button>
</form>

</main>


<footer id="footer">
    <hr>
</footer>
<script src="/js/header.js" th:inline="javascript" type="text/javascript"></script>
<script src="/js/signUp.js" th:inline="javascript" type="text/javascript"></script>

</body>
</html>